@import url('https://fonts.googleapis.com/css2?family=Almendra&display=swap');
/* -------------------------------------------------------*/
/*                         RESET                          */
/* Tamanho da Box */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove Estilo das Margens */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove Estilos das Listas */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Estilo do Scroll */
html:focus-within {
  scroll-behavior: smooth;
}

/* Deixa o Body Padrão */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Elementos que Não tem Classe, Recebem o Padrão */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Imagens Dinâmicas */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Fontes para inputs e button */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove Animações e Transições */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* -------------------------------------------------------*/
:root{
    --cor0: rgb(244,237,220);
    --cor1: rgb(105, 0, 0);
    --cor2: rgb(60, 0, 0);
    --cor3: rgb(255, 255, 255);
    --cor4: rgb(0, 0, 0);
}

.head{
  display: flex;
  flex-direction: row;
  background-color: var(--cor3);
  justify-content: space-between;
  padding: 25px;
  font-size: 24px;
}

a{
  box-shadow: inset 0 0 0 0 var(--cor4);
  color: var(--cor4);
  margin: 0 -.25rem;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  justify-self: end;
}

a:hover {
  box-shadow: inset 300px 0 0 0 var(--cor1);
  color: white;
}

.back{
  background-color: var(--cor3);
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 25px;
}

.opening{
  display: flex;
  background-color: var(--cor1);
  height: 500px;
  justify-items: auto;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  align-items: center; 
}

.resume{
  display: flex;
  background-color: var(--cor0);
  font-size: 24px;
  font-style: italic;
  min-height: 330px;
  margin: 10px;
  border-radius: 30px;
  font-family: 'Almendra', serif;
}

.resume .textoOP{
  margin: 20px;
  text-align: justify;
  font-weight: 500;
  color: var(--cor4);
}

body{
  background-color: var(--cor2);
}

p{
    font-family: 'Almendra', serif;
    font-weight: 900;
    color: var(--cor4);
}

h1{
    font-family: 'Almendra', serif;
    font-weight: 900;
    color: var(--cor4);
}

.optxt{
  font-size: 50px;
  text-align: center;
  margin: auto;
  color: var(--cor3);
}

.opimg{
  margin: auto;
  height: 500px;
}

.pag{
  display: grid;
  grid-template-areas: "sidenav content";
  height: 300px;
  width: fit-content;
  justify-items: center;
  margin: 50px;
  gap: 25px;
}


.txt{
  grid-area: sidenav;
  background-color: var(--cor0);
  border-radius: 25px;
  text-align: center;
  box-shadow: 8px 8px 5px;
  margin: 50px;
}

.img{
  grid-area: content;
  display: flexbox;
  background-image: url("images/background.jpg");
  border-radius: 25px;
  box-shadow: 8px 8px 5px;
  margin: 50px;
}

.pagEight{
  display: grid;
  grid-template-areas: "sidenav content";
  height: 400px;
  width: fit-content;
  justify-items: center;
  margin: 50px;
  gap: 25px;
  min-height: 400px;
}

.pagEight .txtEight{
  grid-area: sidenav;
  background-color: var(--cor0);
  border-radius: 25px;
  text-align: center;
  box-shadow: 8px 8px 5px;
  margin: 50px;
}

li{
  font-size: 1vw; 
}

footer{
  background-color: var(--cor3);
  margin-top: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  row-gap: 50px;
  padding: 20px;
}

